.light-high-contrast {
  --md-sys-color-primary: rgb(0 52 19);
  --md-sys-color-surface-tint: rgb(53 105 63);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(30 83 43);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(0 52 16);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(33 83 42);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(0 52 21);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(28 83 45);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(81 25 28);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(118 53 55);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(247 251 242);
  --md-sys-color-on-background: rgb(24 29 24);
  --md-sys-color-surface: rgb(247 251 242);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(221 229 218);
  --md-sys-color-on-surface-variant: rgb(0 0 0);
  --md-sys-color-outline: rgb(39 46 39);
  --md-sys-color-outline-variant: rgb(68 75 67);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 50 44);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(155 212 160);
  --md-sys-color-primary-fixed: rgb(30 83 43);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(0 60 23);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(33 83 42);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(4 59 21);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(28 83 45);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(0 60 25);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(182 186 178);
  --md-sys-color-surface-bright: rgb(247 251 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(238 242 234);
  --md-sys-color-surface-container: rgb(224 228 220);
  --md-sys-color-surface-container-high: rgb(209 214 206);
  --md-sys-color-surface-container-highest: rgb(195 200 192);
  --md-extended-color-sharp-light-color: rgb(0 52 17);
  --md-extended-color-sharp-light-on-color: rgb(255 255 255);
  --md-extended-color-sharp-light-color-container: rgb(32 83 42);
  --md-extended-color-sharp-light-on-color-container: rgb(255 255 255);
  --md-extended-color-sharp-dark-color: rgb(0 52 17);
  --md-extended-color-sharp-dark-on-color: rgb(255 255 255);
  --md-extended-color-sharp-dark-color-container: rgb(32 83 42);
  --md-extended-color-sharp-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-sharp-white-color: rgb(0 52 17);
  --md-extended-color-sharp-white-on-color: rgb(255 255 255);
  --md-extended-color-sharp-white-color-container: rgb(31 83 42);
  --md-extended-color-sharp-white-on-color-container: rgb(255 255 255);
  --md-extended-color-teritary-dark-color: rgb(0 52 15);
  --md-extended-color-teritary-dark-on-color: rgb(255 255 255);
  --md-extended-color-teritary-dark-color-container: rgb(33 83 41);
  --md-extended-color-teritary-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark-color: rgb(55 43 0);
  --md-extended-color-yellow-dark-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark-color-container: rgb(90 71 0);
  --md-extended-color-yellow-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark2-color: rgb(57 42 0);
  --md-extended-color-yellow-dark2-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark2-color-container: rgb(92 70 0);
  --md-extended-color-yellow-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-mid-color: rgb(59 41 0);
  --md-extended-color-yellow-mid-on-color: rgb(255 255 255);
  --md-extended-color-yellow-mid-color-container: rgb(96 68 0);
  --md-extended-color-yellow-mid-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-light-color: rgb(58 41 0);
  --md-extended-color-yellow-light-on-color: rgb(255 255 255);
  --md-extended-color-yellow-light-color-container: rgb(94 69 0);
  --md-extended-color-yellow-light-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark3-color: rgb(60 41 0);
  --md-extended-color-yellow-dark3-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark3-color-container: rgb(97 68 0);
  --md-extended-color-yellow-dark3-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-mid2-color: rgb(59 41 0);
  --md-extended-color-yellow-mid2-on-color: rgb(255 255 255);
  --md-extended-color-yellow-mid2-color-container: rgb(96 68 0);
  --md-extended-color-yellow-mid2-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-mid3-color: rgb(58 42 0);
  --md-extended-color-yellow-mid3-on-color: rgb(255 255 255);
  --md-extended-color-yellow-mid3-color-container: rgb(94 69 0);
  --md-extended-color-yellow-mid3-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-dark-color: rgb(48 35 89);
  --md-extended-color-purple-dark-on-color: rgb(255 255 255);
  --md-extended-color-purple-dark-color-container: rgb(77 64 121);
  --md-extended-color-purple-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-dark2-color: rgb(50 34 88);
  --md-extended-color-purple-dark2-on-color: rgb(255 255 255);
  --md-extended-color-purple-dark2-color-container: rgb(80 64 120);
  --md-extended-color-purple-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-dark3-color: rgb(55 32 86);
  --md-extended-color-purple-dark3-on-color: rgb(255 255 255);
  --md-extended-color-purple-dark3-color-container: rgb(85 62 117);
  --md-extended-color-purple-dark3-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-light-color: rgb(50 34 88);
  --md-extended-color-purple-light-on-color: rgb(255 255 255);
  --md-extended-color-purple-light-color-container: rgb(80 64 120);
  --md-extended-color-purple-light-on-color-container: rgb(255 255 255);
  --md-extended-color-blue-dark-color: rgb(50 34 88);
  --md-extended-color-blue-dark-on-color: rgb(255 255 255);
  --md-extended-color-blue-dark-color-container: rgb(79 64 120);
  --md-extended-color-blue-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-blue-dark2-color: rgb(49 34 89);
  --md-extended-color-blue-dark2-on-color: rgb(255 255 255);
  --md-extended-color-blue-dark2-color-container: rgb(79 64 120);
  --md-extended-color-blue-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-green-dark-color: rgb(7 52 10);
  --md-extended-color-green-dark-on-color: rgb(255 255 255);
  --md-extended-color-green-dark-color-container: rgb(40 82 37);
  --md-extended-color-green-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-green-light-color: rgb(4 52 11);
  --md-extended-color-green-light-on-color: rgb(255 255 255);
  --md-extended-color-green-light-color-container: rgb(38 83 38);
  --md-extended-color-green-light-on-color-container: rgb(255 255 255);
  --md-extended-color-green-mid-color: rgb(11 52 8);
  --md-extended-color-green-mid-on-color: rgb(255 255 255);
  --md-extended-color-green-mid-color-container: rgb(42 82 35);
  --md-extended-color-green-mid-on-color-container: rgb(255 255 255);
  --md-extended-color-green-light2-color: rgb(9 52 9);
  --md-extended-color-green-light2-on-color: rgb(255 255 255);
  --md-extended-color-green-light2-color-container: rgb(41 82 36);
  --md-extended-color-green-light2-on-color-container: rgb(255 255 255);
  --md-extended-color-green-dark2-color: rgb(11 52 8);
  --md-extended-color-green-dark2-on-color: rgb(255 255 255);
  --md-extended-color-green-dark2-color-container: rgb(42 82 35);
  --md-extended-color-green-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-green-dark3-color: rgb(9 52 9);
  --md-extended-color-green-dark3-on-color: rgb(255 255 255);
  --md-extended-color-green-dark3-color-container: rgb(41 82 36);
  --md-extended-color-green-dark3-on-color-container: rgb(255 255 255);
  --md-extended-color-green-light3-color: rgb(6 52 10);
  --md-extended-color-green-light3-on-color: rgb(255 255 255);
  --md-extended-color-green-light3-color-container: rgb(39 82 37);
  --md-extended-color-green-light3-on-color-container: rgb(255 255 255);
  --md-extended-color-green-light2-hovered-color: rgb(7 52 10);
  --md-extended-color-green-light2-hovered-on-color: rgb(255 255 255);
  --md-extended-color-green-light2-hovered-color-container: rgb(39 82 37);
  --md-extended-color-green-light2-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-green-dark2-hovered-color: rgb(5 52 11);
  --md-extended-color-green-dark2-hovered-on-color: rgb(255 255 255);
  --md-extended-color-green-dark2-hovered-color-container: rgb(39 82 38);
  --md-extended-color-green-dark2-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-system-regular-color: rgb(0 52 17);
  --md-extended-color-system-regular-on-color: rgb(255 255 255);
  --md-extended-color-system-regular-color-container: rgb(32 83 42);
  --md-extended-color-system-regular-on-color-container: rgb(255 255 255);
  --md-extended-color-system-hovered-color: rgb(0 52 20);
  --md-extended-color-system-hovered-on-color: rgb(255 255 255);
  --md-extended-color-system-hovered-color-container: rgb(29 83 44);
  --md-extended-color-system-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-light-hovered-color: rgb(50 34 88);
  --md-extended-color-purple-light-hovered-on-color: rgb(255 255 255);
  --md-extended-color-purple-light-hovered-color-container: rgb(80 64 120);
  --md-extended-color-purple-light-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark2-hovered-color: rgb(56 42 0);
  --md-extended-color-yellow-dark2-hovered-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark2-hovered-color-container: rgb(91 70 0);
  --md-extended-color-yellow-dark2-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark3-hovered-color: rgb(58 42 0);
  --md-extended-color-yellow-dark3-hovered-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark3-hovered-color-container: rgb(93 69 0);
  --md-extended-color-yellow-dark3-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-dark-color: rgb(0 50 51);
  --md-extended-color-teal-dark-on-color: rgb(255 255 255);
  --md-extended-color-teal-dark-color-container: rgb(0 82 84);
  --md-extended-color-teal-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-dark-hovered-color: rgb(0 50 52);
  --md-extended-color-teal-dark-hovered-on-color: rgb(255 255 255);
  --md-extended-color-teal-dark-hovered-color-container: rgb(0 82 85);
  --md-extended-color-teal-dark-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-mid-color: rgb(0 50 51);
  --md-extended-color-teal-mid-on-color: rgb(255 255 255);
  --md-extended-color-teal-mid-color-container: rgb(0 82 84);
  --md-extended-color-teal-mid-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-light-color: rgb(0 50 54);
  --md-extended-color-teal-light-on-color: rgb(255 255 255);
  --md-extended-color-teal-light-color-container: rgb(0 82 88);
  --md-extended-color-teal-light-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-light-variant-color: rgb(0 50 54);
  --md-extended-color-teal-light-variant-on-color: rgb(255 255 255);
  --md-extended-color-teal-light-variant-color-container: rgb(0 81 88);
  --md-extended-color-teal-light-variant-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-light2-color: rgb(0 50 50);
  --md-extended-color-teal-light2-on-color: rgb(255 255 255);
  --md-extended-color-teal-light2-color-container: rgb(0 82 82);
  --md-extended-color-teal-light2-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-light-strong-color: rgb(0 50 54);
  --md-extended-color-teal-light-strong-on-color: rgb(255 255 255);
  --md-extended-color-teal-light-strong-color-container: rgb(0 82 88);
  --md-extended-color-teal-light-strong-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-dark2-color: rgb(0 50 50);
  --md-extended-color-teal-dark2-on-color: rgb(255 255 255);
  --md-extended-color-teal-dark2-color-container: rgb(0 82 82);
  --md-extended-color-teal-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-system-dark-grey-color: rgb(0 52 21);
  --md-extended-color-system-dark-grey-on-color: rgb(255 255 255);
  --md-extended-color-system-dark-grey-color-container: rgb(28 83 45);
  --md-extended-color-system-dark-grey-on-color-container: rgb(255 255 255);
  --md-extended-color-system-light-gray-color: rgb(0 52 19);
  --md-extended-color-system-light-gray-on-color: rgb(255 255 255);
  --md-extended-color-system-light-gray-color-container: rgb(29 83 44);
  --md-extended-color-system-light-gray-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-mid-color: rgb(0 52 14);
  --md-extended-color-system-green-mid-on-color: rgb(255 255 255);
  --md-extended-color-system-green-mid-color-container: rgb(34 83 41);
  --md-extended-color-system-green-mid-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-dark-color: rgb(11 52 8);
  --md-extended-color-system-green-dark-on-color: rgb(255 255 255);
  --md-extended-color-system-green-dark-color-container: rgb(42 82 35);
  --md-extended-color-system-green-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-mid2-color: rgb(2 52 12);
  --md-extended-color-system-green-mid2-on-color: rgb(255 255 255);
  --md-extended-color-system-green-mid2-color-container: rgb(36 83 39);
  --md-extended-color-system-green-mid2-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-mid-gray-color: rgb(0 52 15);
  --md-extended-color-system-green-mid-gray-on-color: rgb(255 255 255);
  --md-extended-color-system-green-mid-gray-color-container: rgb(34 83 41);
  --md-extended-color-system-green-mid-gray-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-light-strong-color: rgb(9 52 9);
  --md-extended-color-system-green-light-strong-on-color: rgb(255 255 255);
  --md-extended-color-system-green-light-strong-color-container: rgb(41 82 36);
  --md-extended-color-system-green-light-strong-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-light-gray-color: rgb(12 52 7);
  --md-extended-color-system-green-light-gray-on-color: rgb(255 255 255);
  --md-extended-color-system-green-light-gray-color-container: rgb(43 82 34);
  --md-extended-color-system-green-light-gray-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-dark2-color: rgb(0 52 13);
  --md-extended-color-system-green-dark2-on-color: rgb(255 255 255);
  --md-extended-color-system-green-dark2-color-container: rgb(35 83 40);
  --md-extended-color-system-green-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-light-gray2-color: rgb(1 52 13);
  --md-extended-color-system-green-light-gray2-on-color: rgb(255 255 255);
  --md-extended-color-system-green-light-gray2-color-container: rgb(36 83 40);
  --md-extended-color-system-green-light-gray2-on-color-container: rgb(255 255 255);
  --md-extended-color-onboarding-green-color: rgb(2 52 12);
  --md-extended-color-onboarding-green-on-color: rgb(255 255 255);
  --md-extended-color-onboarding-green-color-container: rgb(36 83 39);
  --md-extended-color-onboarding-green-on-color-container: rgb(255 255 255);
  --md-extended-color-onboarding-green-dark-color: rgb(7 52 10);
  --md-extended-color-onboarding-green-dark-on-color: rgb(255 255 255);
  --md-extended-color-onboarding-green-dark-color-container: rgb(39 82 37);
  --md-extended-color-onboarding-green-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-onboarding-green-hovered-color: rgb(5 52 11);
  --md-extended-color-onboarding-green-hovered-on-color: rgb(255 255 255);
  --md-extended-color-onboarding-green-hovered-color-container: rgb(38 83 38);
  --md-extended-color-onboarding-green-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-onboarding-green-dark-hovered-color: rgb(7 52 10);
  --md-extended-color-onboarding-green-dark-hovered-on-color: rgb(255 255 255);
  --md-extended-color-onboarding-green-dark-hovered-color-container: rgb(39 82 37);
  --md-extended-color-onboarding-green-dark-hovered-on-color-container: rgb(255 255 255);
}
