.dark-medium-contrast {
  --md-sys-color-primary: rgb(176 234 181);
  --md-sys-color-surface-tint: rgb(155 212 160);
  --md-sys-color-on-primary: rgb(0 45 15);
  --md-sys-color-primary-container: rgb(103 157 110);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(178 234 179);
  --md-sys-color-on-secondary: rgb(0 45 13);
  --md-sys-color-secondary-container: rgb(104 157 108);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(175 235 183);
  --md-sys-color-on-tertiary: rgb(0 45 17);
  --md-sys-color-tertiary-container: rgb(101 157 111);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 209);
  --md-sys-color-on-error: rgb(72 18 22);
  --md-sys-color-error-container: rgb(203 122 123);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(215 222 212);
  --md-sys-color-outline: rgb(173 180 170);
  --md-sys-color-outline-variant: rgb(139 146 137);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 220);
  --md-sys-color-inverse-on-surface: rgb(38 43 38);
  --md-sys-color-inverse-primary: rgb(29 82 42);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 21 5);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(5 63 26);
  --md-sys-color-secondary-fixed: rgb(184 241 185);
  --md-sys-color-on-secondary-fixed: rgb(0 21 4);
  --md-sys-color-secondary-fixed-dim: rgb(157 212 158);
  --md-sys-color-on-secondary-fixed-variant: rgb(9 63 24);
  --md-sys-color-tertiary-fixed: rgb(181 241 189);
  --md-sys-color-on-tertiary-fixed: rgb(0 21 5);
  --md-sys-color-tertiary-fixed-dim: rgb(154 212 162);
  --md-sys-color-on-tertiary-fixed-variant: rgb(1 63 27);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(65 70 64);
  --md-sys-color-surface-container-lowest: rgb(5 8 5);
  --md-sys-color-surface-container-low: rgb(26 31 26);
  --md-sys-color-surface-container: rgb(36 41 36);
  --md-sys-color-surface-container-high: rgb(47 52 46);
  --md-sys-color-surface-container-highest: rgb(58 63 57);
  --md-extended-color-sharp-light-color: rgb(177 234 180);
  --md-extended-color-sharp-light-on-color: rgb(0 45 14);
  --md-extended-color-sharp-light-color-container: rgb(104 157 109);
  --md-extended-color-sharp-light-on-color-container: rgb(0 0 0);
  --md-extended-color-sharp-dark-color: rgb(178 234 179);
  --md-extended-color-sharp-dark-on-color: rgb(0 45 13);
  --md-extended-color-sharp-dark-color-container: rgb(104 157 108);
  --md-extended-color-sharp-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-sharp-white-color: rgb(177 234 180);
  --md-extended-color-sharp-white-on-color: rgb(0 45 14);
  --md-extended-color-sharp-white-color-container: rgb(104 157 109);
  --md-extended-color-sharp-white-on-color-container: rgb(0 0 0);
  --md-extended-color-teritary-dark-color: rgb(179 234 178);
  --md-extended-color-teritary-dark-on-color: rgb(0 45 12);
  --md-extended-color-teritary-dark-color-container: rgb(105 157 107);
  --md-extended-color-teritary-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-dark-color: rgb(249 218 128);
  --md-extended-color-yellow-dark-on-color: rgb(48 36 0);
  --md-extended-color-yellow-dark-color-container: rgb(169 142 61);
  --md-extended-color-yellow-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-dark2-color: rgb(253 216 127);
  --md-extended-color-yellow-dark2-on-color: rgb(49 36 0);
  --md-extended-color-yellow-dark2-color-container: rgb(172 141 61);
  --md-extended-color-yellow-dark2-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-mid-color: rgb(255 215 141);
  --md-extended-color-yellow-mid-on-color: rgb(51 35 0);
  --md-extended-color-yellow-mid-color-container: rgb(177 139 61);
  --md-extended-color-yellow-mid-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-light-color: rgb(255 215 132);
  --md-extended-color-yellow-light-on-color: rgb(50 35 0);
  --md-extended-color-yellow-light-color-container: rgb(175 140 61);
  --md-extended-color-yellow-light-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-dark3-color: rgb(255 215 143);
  --md-extended-color-yellow-dark3-on-color: rgb(51 35 0);
  --md-extended-color-yellow-dark3-color-container: rgb(178 139 61);
  --md-extended-color-yellow-dark3-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-mid2-color: rgb(255 215 141);
  --md-extended-color-yellow-mid2-on-color: rgb(51 35 0);
  --md-extended-color-yellow-mid2-color-container: rgb(177 139 61);
  --md-extended-color-yellow-mid2-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-mid3-color: rgb(255 215 129);
  --md-extended-color-yellow-mid3-on-color: rgb(50 35 0);
  --md-extended-color-yellow-mid3-color-container: rgb(174 140 61);
  --md-extended-color-yellow-mid3-on-color-container: rgb(0 0 0);
  --md-extended-color-purple-dark-color: rgb(226 215 255);
  --md-extended-color-purple-dark-on-color: rgb(41 28 82);
  --md-extended-color-purple-dark-color-container: rgb(150 136 198);
  --md-extended-color-purple-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-purple-dark2-color: rgb(228 214 255);
  --md-extended-color-purple-dark2-on-color: rgb(43 27 81);
  --md-extended-color-purple-dark2-color-container: rgb(153 135 197);
  --md-extended-color-purple-dark2-on-color-container: rgb(0 0 0);
  --md-extended-color-purple-dark3-color: rgb(232 212 255);
  --md-extended-color-purple-dark3-on-color: rgb(48 25 79);
  --md-extended-color-purple-dark3-color-container: rgb(159 133 194);
  --md-extended-color-purple-dark3-on-color-container: rgb(0 0 0);
  --md-extended-color-purple-light-color: rgb(228 214 255);
  --md-extended-color-purple-light-on-color: rgb(43 27 81);
  --md-extended-color-purple-light-color-container: rgb(153 135 196);
  --md-extended-color-purple-light-on-color-container: rgb(0 0 0);
  --md-extended-color-blue-dark-color: rgb(227 214 255);
  --md-extended-color-blue-dark-on-color: rgb(43 27 81);
  --md-extended-color-blue-dark-color-container: rgb(153 135 197);
  --md-extended-color-blue-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-blue-dark2-color: rgb(227 214 255);
  --md-extended-color-blue-dark2-on-color: rgb(43 27 82);
  --md-extended-color-blue-dark2-color-container: rgb(152 135 197);
  --md-extended-color-blue-dark2-on-color-container: rgb(0 0 0);
  --md-extended-color-green-dark-color: rgb(184 233 173);
  --md-extended-color-green-dark-on-color: rgb(1 45 4);
  --md-extended-color-green-dark-color-container: rgb(110 156 102);
  --md-extended-color-green-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-green-light-color: rgb(182 234 175);
  --md-extended-color-green-light-on-color: rgb(0 45 7);
  --md-extended-color-green-light-color-container: rgb(108 156 104);
  --md-extended-color-green-light-on-color-container: rgb(0 0 0);
  --md-extended-color-green-mid-color: rgb(185 233 171);
  --md-extended-color-green-mid-on-color: rgb(4 45 3);
  --md-extended-color-green-mid-color-container: rgb(112 156 100);
  --md-extended-color-green-mid-on-color-container: rgb(0 0 0);
  --md-extended-color-green-light2-color: rgb(185 233 171);
  --md-extended-color-green-light2-on-color: rgb(2 45 4);
  --md-extended-color-green-light2-color-container: rgb(111 156 101);
  --md-extended-color-green-light2-on-color-container: rgb(0 0 0);
  --md-extended-color-green-dark2-color: rgb(185 233 171);
  --md-extended-color-green-dark2-on-color: rgb(3 45 3);
  --md-extended-color-green-dark2-color-container: rgb(112 156 101);
  --md-extended-color-green-dark2-on-color-container: rgb(0 0 0);
  --md-extended-color-green-dark3-color: rgb(185 233 171);
  --md-extended-color-green-dark3-on-color: rgb(2 45 4);
  --md-extended-color-green-dark3-color-container: rgb(111 156 101);
  --md-extended-color-green-dark3-on-color-container: rgb(0 0 0);
  --md-extended-color-green-light3-color: rgb(183 234 173);
  --md-extended-color-green-light3-on-color: rgb(0 45 5);
  --md-extended-color-green-light3-color-container: rgb(109 156 103);
  --md-extended-color-green-light3-on-color-container: rgb(0 0 0);
  --md-extended-color-green-light2-hovered-color: rgb(183 234 173);
  --md-extended-color-green-light2-hovered-on-color: rgb(0 45 4);
  --md-extended-color-green-light2-hovered-color-container: rgb(110 156 103);
  --md-extended-color-green-light2-hovered-on-color-container: rgb(0 0 0);
  --md-extended-color-green-dark2-hovered-color: rgb(183 234 174);
  --md-extended-color-green-dark2-hovered-on-color: rgb(0 45 6);
  --md-extended-color-green-dark2-hovered-color-container: rgb(109 156 103);
  --md-extended-color-green-dark2-hovered-on-color-container: rgb(0 0 0);
  --md-extended-color-system-regular-color: rgb(178 234 179);
  --md-extended-color-system-regular-on-color: rgb(0 45 13);
  --md-extended-color-system-regular-color-container: rgb(104 157 108);
  --md-extended-color-system-regular-on-color-container: rgb(0 0 0);
  --md-extended-color-system-hovered-color: rgb(176 235 182);
  --md-extended-color-system-hovered-on-color: rgb(0 45 16);
  --md-extended-color-system-hovered-color-container: rgb(102 157 110);
  --md-extended-color-system-hovered-on-color-container: rgb(0 0 0);
  --md-extended-color-purple-light-hovered-color: rgb(228 214 255);
  --md-extended-color-purple-light-hovered-on-color: rgb(43 27 81);
  --md-extended-color-purple-light-hovered-color-container: rgb(153 135 197);
  --md-extended-color-purple-light-hovered-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-dark2-hovered-color: rgb(251 217 128);
  --md-extended-color-yellow-dark2-hovered-on-color: rgb(48 36 0);
  --md-extended-color-yellow-dark2-hovered-color-container: rgb(171 141 61);
  --md-extended-color-yellow-dark2-hovered-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-dark3-hovered-color: rgb(255 216 128);
  --md-extended-color-yellow-dark3-hovered-on-color: rgb(50 35 0);
  --md-extended-color-yellow-dark3-hovered-color-container: rgb(174 140 61);
  --md-extended-color-yellow-dark3-hovered-on-color-container: rgb(0 0 0);
  --md-extended-color-teal-dark-color: rgb(150 234 237);
  --md-extended-color-teal-dark-on-color: rgb(0 43 44);
  --md-extended-color-teal-dark-color-container: rgb(71 157 160);
  --md-extended-color-teal-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-teal-dark-hovered-color: rgb(150 234 239);
  --md-extended-color-teal-dark-hovered-on-color: rgb(0 43 45);
  --md-extended-color-teal-dark-hovered-color-container: rgb(71 157 162);
  --md-extended-color-teal-dark-hovered-on-color-container: rgb(0 0 0);
  --md-extended-color-teal-mid-color: rgb(150 234 237);
  --md-extended-color-teal-mid-on-color: rgb(0 43 44);
  --md-extended-color-teal-mid-color-container: rgb(71 157 160);
  --md-extended-color-teal-mid-on-color-container: rgb(0 0 0);
  --md-extended-color-teal-light-color: rgb(151 234 243);
  --md-extended-color-teal-light-on-color: rgb(0 43 46);
  --md-extended-color-teal-light-color-container: rgb(71 157 165);
  --md-extended-color-teal-light-on-color-container: rgb(0 0 0);
  --md-extended-color-teal-light-variant-color: rgb(151 234 244);
  --md-extended-color-teal-light-variant-on-color: rgb(0 43 47);
  --md-extended-color-teal-light-variant-color-container: rgb(72 157 166);
  --md-extended-color-teal-light-variant-on-color-container: rgb(0 0 0);
  --md-extended-color-teal-light2-color: rgb(150 235 234);
  --md-extended-color-teal-light2-on-color: rgb(0 43 43);
  --md-extended-color-teal-light2-color-container: rgb(71 158 158);
  --md-extended-color-teal-light2-on-color-container: rgb(0 0 0);
  --md-extended-color-teal-light-strong-color: rgb(151 234 243);
  --md-extended-color-teal-light-strong-on-color: rgb(0 43 46);
  --md-extended-color-teal-light-strong-color-container: rgb(71 157 166);
  --md-extended-color-teal-light-strong-on-color-container: rgb(0 0 0);
  --md-extended-color-teal-dark2-color: rgb(150 235 234);
  --md-extended-color-teal-dark2-on-color: rgb(0 43 43);
  --md-extended-color-teal-dark2-color-container: rgb(71 158 157);
  --md-extended-color-teal-dark2-on-color-container: rgb(0 0 0);
  --md-extended-color-system-dark-grey-color: rgb(175 235 183);
  --md-extended-color-system-dark-grey-on-color: rgb(0 45 17);
  --md-extended-color-system-dark-grey-color-container: rgb(101 157 111);
  --md-extended-color-system-dark-grey-on-color-container: rgb(0 0 0);
  --md-extended-color-system-light-gray-color: rgb(176 234 181);
  --md-extended-color-system-light-gray-on-color: rgb(0 45 15);
  --md-extended-color-system-light-gray-color-container: rgb(102 157 110);
  --md-extended-color-system-light-gray-on-color-container: rgb(0 0 0);
  --md-extended-color-system-green-mid-color: rgb(179 234 178);
  --md-extended-color-system-green-mid-on-color: rgb(0 45 11);
  --md-extended-color-system-green-mid-color-container: rgb(106 157 107);
  --md-extended-color-system-green-mid-on-color-container: rgb(0 0 0);
  --md-extended-color-system-green-dark-color: rgb(185 233 171);
  --md-extended-color-system-green-dark-on-color: rgb(3 45 3);
  --md-extended-color-system-green-dark-color-container: rgb(112 156 101);
  --md-extended-color-system-green-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-system-green-mid2-color: rgb(181 234 176);
  --md-extended-color-system-green-mid2-on-color: rgb(0 45 8);
  --md-extended-color-system-green-mid2-color-container: rgb(107 157 105);
  --md-extended-color-system-green-mid2-on-color-container: rgb(0 0 0);
  --md-extended-color-system-green-mid-gray-color: rgb(179 234 178);
  --md-extended-color-system-green-mid-gray-on-color: rgb(0 45 12);
  --md-extended-color-system-green-mid-gray-color-container: rgb(105 157 107);
  --md-extended-color-system-green-mid-gray-on-color-container: rgb(0 0 0);
  --md-extended-color-system-green-light-strong-color: rgb(185 233 171);
  --md-extended-color-system-green-light-strong-on-color: rgb(2 45 4);
  --md-extended-color-system-green-light-strong-color-container: rgb(111 156 101);
  --md-extended-color-system-green-light-strong-on-color-container: rgb(0 0 0);
  --md-extended-color-system-green-light-gray-color: rgb(186 233 170);
  --md-extended-color-system-green-light-gray-on-color: rgb(5 45 3);
  --md-extended-color-system-green-light-gray-color-container: rgb(113 156 100);
  --md-extended-color-system-green-light-gray-on-color-container: rgb(0 0 0);
  --md-extended-color-system-green-dark2-color: rgb(180 234 177);
  --md-extended-color-system-green-dark2-on-color: rgb(0 45 10);
  --md-extended-color-system-green-dark2-color-container: rgb(106 157 106);
  --md-extended-color-system-green-dark2-on-color-container: rgb(0 0 0);
  --md-extended-color-system-green-light-gray2-color: rgb(180 234 176);
  --md-extended-color-system-green-light-gray2-on-color: rgb(0 45 9);
  --md-extended-color-system-green-light-gray2-color-container: rgb(107 157 106);
  --md-extended-color-system-green-light-gray2-on-color-container: rgb(0 0 0);
  --md-extended-color-onboarding-green-color: rgb(181 234 176);
  --md-extended-color-onboarding-green-on-color: rgb(0 45 8);
  --md-extended-color-onboarding-green-color-container: rgb(107 157 105);
  --md-extended-color-onboarding-green-on-color-container: rgb(0 0 0);
  --md-extended-color-onboarding-green-dark-color: rgb(183 234 173);
  --md-extended-color-onboarding-green-dark-on-color: rgb(0 45 4);
  --md-extended-color-onboarding-green-dark-color-container: rgb(110 156 102);
  --md-extended-color-onboarding-green-dark-on-color-container: rgb(0 0 0);
  --md-extended-color-onboarding-green-hovered-color: rgb(182 234 174);
  --md-extended-color-onboarding-green-hovered-on-color: rgb(0 45 6);
  --md-extended-color-onboarding-green-hovered-color-container: rgb(109 156 104);
  --md-extended-color-onboarding-green-hovered-on-color-container: rgb(0 0 0);
  --md-extended-color-onboarding-green-dark-hovered-color: rgb(183 234 173);
  --md-extended-color-onboarding-green-dark-hovered-on-color: rgb(0 45 4);
  --md-extended-color-onboarding-green-dark-hovered-color-container: rgb(110 156 102);
  --md-extended-color-onboarding-green-dark-hovered-on-color-container: rgb(0 0 0);
}
