.light-medium-contrast {
  --md-sys-color-primary: rgb(5 63 26);
  --md-sys-color-surface-tint: rgb(53 105 63);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(67 120 76);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(9 63 24);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(69 120 75);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(1 63 27);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(66 121 78);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(94 35 37);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(161 88 89);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(247 251 242);
  --md-sys-color-on-background: rgb(24 29 24);
  --md-sys-color-surface: rgb(247 251 242);
  --md-sys-color-on-surface: rgb(14 18 14);
  --md-sys-color-surface-variant: rgb(221 229 218);
  --md-sys-color-on-surface-variant: rgb(49 56 48);
  --md-sys-color-outline: rgb(77 84 76);
  --md-sys-color-outline-variant: rgb(104 111 102);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 50 44);
  --md-sys-color-inverse-on-surface: rgb(238 242 234);
  --md-sys-color-inverse-primary: rgb(155 212 160);
  --md-sys-color-primary-fixed: rgb(67 120 76);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(43 95 54);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(69 120 75);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(45 95 52);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(66 121 78);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(41 95 55);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(195 200 192);
  --md-sys-color-surface-bright: rgb(247 251 242);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 245 237);
  --md-sys-color-surface-container: rgb(229 233 225);
  --md-sys-color-surface-container-high: rgb(218 222 214);
  --md-sys-color-surface-container-highest: rgb(207 211 203);
  --md-extended-color-sharp-light-color: rgb(7 63 25);
  --md-extended-color-sharp-light-on-color: rgb(255 255 255);
  --md-extended-color-sharp-light-color-container: rgb(69 120 75);
  --md-extended-color-sharp-light-on-color-container: rgb(255 255 255);
  --md-extended-color-sharp-dark-color: rgb(8 63 25);
  --md-extended-color-sharp-dark-on-color: rgb(255 255 255);
  --md-extended-color-sharp-dark-color-container: rgb(69 120 75);
  --md-extended-color-sharp-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-sharp-white-color: rgb(7 63 25);
  --md-extended-color-sharp-white-on-color: rgb(255 255 255);
  --md-extended-color-sharp-white-color-container: rgb(68 120 75);
  --md-extended-color-sharp-white-on-color-container: rgb(255 255 255);
  --md-extended-color-teritary-dark-color: rgb(11 63 24);
  --md-extended-color-teritary-dark-on-color: rgb(255 255 255);
  --md-extended-color-teritary-dark-color-container: rgb(70 120 74);
  --md-extended-color-teritary-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark-color: rgb(67 52 0);
  --md-extended-color-yellow-dark-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark-color-container: rgb(130 106 28);
  --md-extended-color-yellow-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark2-color: rgb(69 52 0);
  --md-extended-color-yellow-dark2-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark2-color-container: rgb(133 105 28);
  --md-extended-color-yellow-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-mid-color: rgb(72 50 0);
  --md-extended-color-yellow-mid-on-color: rgb(255 255 255);
  --md-extended-color-yellow-mid-color-container: rgb(138 103 28);
  --md-extended-color-yellow-mid-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-light-color: rgb(71 51 0);
  --md-extended-color-yellow-light-on-color: rgb(255 255 255);
  --md-extended-color-yellow-light-color-container: rgb(136 104 28);
  --md-extended-color-yellow-light-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark3-color: rgb(72 50 0);
  --md-extended-color-yellow-dark3-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark3-color-container: rgb(138 103 28);
  --md-extended-color-yellow-dark3-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-mid2-color: rgb(72 50 0);
  --md-extended-color-yellow-mid2-on-color: rgb(255 255 255);
  --md-extended-color-yellow-mid2-color-container: rgb(138 103 28);
  --md-extended-color-yellow-mid2-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-mid3-color: rgb(70 51 0);
  --md-extended-color-yellow-mid3-on-color: rgb(255 255 255);
  --md-extended-color-yellow-mid3-color-container: rgb(135 105 28);
  --md-extended-color-yellow-mid3-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-dark-color: rgb(58 45 100);
  --md-extended-color-purple-dark-on-color: rgb(255 255 255);
  --md-extended-color-purple-dark-color-container: rgb(114 100 159);
  --md-extended-color-purple-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-dark2-color: rgb(60 44 99);
  --md-extended-color-purple-dark2-on-color: rgb(255 255 255);
  --md-extended-color-purple-dark2-color-container: rgb(117 100 158);
  --md-extended-color-purple-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-dark3-color: rgb(65 43 97);
  --md-extended-color-purple-dark3-on-color: rgb(255 255 255);
  --md-extended-color-purple-dark3-color-container: rgb(122 98 156);
  --md-extended-color-purple-dark3-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-light-color: rgb(60 44 99);
  --md-extended-color-purple-light-on-color: rgb(255 255 255);
  --md-extended-color-purple-light-color-container: rgb(117 100 158);
  --md-extended-color-purple-light-on-color-container: rgb(255 255 255);
  --md-extended-color-blue-dark-color: rgb(60 44 99);
  --md-extended-color-blue-dark-on-color: rgb(255 255 255);
  --md-extended-color-blue-dark-color-container: rgb(116 100 158);
  --md-extended-color-blue-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-blue-dark2-color: rgb(60 44 99);
  --md-extended-color-blue-dark2-on-color: rgb(255 255 255);
  --md-extended-color-blue-dark2-color-container: rgb(116 100 159);
  --md-extended-color-blue-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-green-dark-color: rgb(20 63 19);
  --md-extended-color-green-dark-on-color: rgb(255 255 255);
  --md-extended-color-green-dark-color-container: rgb(75 120 69);
  --md-extended-color-green-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-green-light-color: rgb(17 63 21);
  --md-extended-color-green-light-on-color: rgb(255 255 255);
  --md-extended-color-green-light-color-container: rgb(73 120 71);
  --md-extended-color-green-light-on-color-container: rgb(255 255 255);
  --md-extended-color-green-mid-color: rgb(22 62 18);
  --md-extended-color-green-mid-on-color: rgb(255 255 255);
  --md-extended-color-green-mid-color-container: rgb(77 119 68);
  --md-extended-color-green-mid-on-color-container: rgb(255 255 255);
  --md-extended-color-green-light2-color: rgb(21 62 18);
  --md-extended-color-green-light2-on-color: rgb(255 255 255);
  --md-extended-color-green-light2-color-container: rgb(76 119 68);
  --md-extended-color-green-light2-on-color-container: rgb(255 255 255);
  --md-extended-color-green-dark2-color: rgb(22 62 18);
  --md-extended-color-green-dark2-on-color: rgb(255 255 255);
  --md-extended-color-green-dark2-color-container: rgb(77 119 68);
  --md-extended-color-green-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-green-dark3-color: rgb(21 62 18);
  --md-extended-color-green-dark3-on-color: rgb(255 255 255);
  --md-extended-color-green-dark3-color-container: rgb(76 119 68);
  --md-extended-color-green-dark3-on-color-container: rgb(255 255 255);
  --md-extended-color-green-light3-color: rgb(19 63 20);
  --md-extended-color-green-light3-on-color: rgb(255 255 255);
  --md-extended-color-green-light3-color-container: rgb(75 120 70);
  --md-extended-color-green-light3-on-color-container: rgb(255 255 255);
  --md-extended-color-green-light2-hovered-color: rgb(19 63 19);
  --md-extended-color-green-light2-hovered-on-color: rgb(255 255 255);
  --md-extended-color-green-light2-hovered-color-container: rgb(75 120 70);
  --md-extended-color-green-light2-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-green-dark2-hovered-color: rgb(18 63 20);
  --md-extended-color-green-dark2-hovered-on-color: rgb(255 255 255);
  --md-extended-color-green-dark2-hovered-color-container: rgb(74 120 70);
  --md-extended-color-green-dark2-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-system-regular-color: rgb(8 63 25);
  --md-extended-color-system-regular-on-color: rgb(255 255 255);
  --md-extended-color-system-regular-color-container: rgb(69 120 75);
  --md-extended-color-system-regular-on-color-container: rgb(255 255 255);
  --md-extended-color-system-hovered-color: rgb(3 63 26);
  --md-extended-color-system-hovered-on-color: rgb(255 255 255);
  --md-extended-color-system-hovered-color-container: rgb(67 120 77);
  --md-extended-color-system-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-purple-light-hovered-color: rgb(60 44 99);
  --md-extended-color-purple-light-hovered-on-color: rgb(255 255 255);
  --md-extended-color-purple-light-hovered-color-container: rgb(116 100 158);
  --md-extended-color-purple-light-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark2-hovered-color: rgb(68 52 0);
  --md-extended-color-yellow-dark2-hovered-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark2-hovered-color-container: rgb(132 106 28);
  --md-extended-color-yellow-dark2-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-yellow-dark3-hovered-color: rgb(70 51 0);
  --md-extended-color-yellow-dark3-hovered-on-color: rgb(255 255 255);
  --md-extended-color-yellow-dark3-hovered-color-container: rgb(135 105 28);
  --md-extended-color-yellow-dark3-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-dark-color: rgb(0 61 62);
  --md-extended-color-teal-dark-on-color: rgb(255 255 255);
  --md-extended-color-teal-dark-color-container: rgb(22 121 123);
  --md-extended-color-teal-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-dark-hovered-color: rgb(0 61 64);
  --md-extended-color-teal-dark-hovered-on-color: rgb(255 255 255);
  --md-extended-color-teal-dark-hovered-color-container: rgb(22 121 126);
  --md-extended-color-teal-dark-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-mid-color: rgb(0 61 63);
  --md-extended-color-teal-mid-on-color: rgb(255 255 255);
  --md-extended-color-teal-mid-color-container: rgb(22 121 124);
  --md-extended-color-teal-mid-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-light-color: rgb(0 61 66);
  --md-extended-color-teal-light-on-color: rgb(255 255 255);
  --md-extended-color-teal-light-color-container: rgb(22 120 129);
  --md-extended-color-teal-light-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-light-variant-color: rgb(0 61 66);
  --md-extended-color-teal-light-variant-on-color: rgb(255 255 255);
  --md-extended-color-teal-light-variant-color-container: rgb(23 120 129);
  --md-extended-color-teal-light-variant-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-light2-color: rgb(0 61 61);
  --md-extended-color-teal-light2-on-color: rgb(255 255 255);
  --md-extended-color-teal-light2-color-container: rgb(22 121 121);
  --md-extended-color-teal-light2-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-light-strong-color: rgb(0 61 66);
  --md-extended-color-teal-light-strong-on-color: rgb(255 255 255);
  --md-extended-color-teal-light-strong-color-container: rgb(22 120 129);
  --md-extended-color-teal-light-strong-on-color-container: rgb(255 255 255);
  --md-extended-color-teal-dark2-color: rgb(0 61 61);
  --md-extended-color-teal-dark2-on-color: rgb(255 255 255);
  --md-extended-color-teal-dark2-color-container: rgb(22 121 121);
  --md-extended-color-teal-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-system-dark-grey-color: rgb(1 63 27);
  --md-extended-color-system-dark-grey-on-color: rgb(255 255 255);
  --md-extended-color-system-dark-grey-color-container: rgb(66 121 78);
  --md-extended-color-system-dark-grey-on-color-container: rgb(255 255 255);
  --md-extended-color-system-light-gray-color: rgb(4 63 26);
  --md-extended-color-system-light-gray-on-color: rgb(255 255 255);
  --md-extended-color-system-light-gray-color-container: rgb(67 120 77);
  --md-extended-color-system-light-gray-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-mid-color: rgb(12 63 23);
  --md-extended-color-system-green-mid-on-color: rgb(255 255 255);
  --md-extended-color-system-green-mid-color-container: rgb(71 120 74);
  --md-extended-color-system-green-mid-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-dark-color: rgb(22 62 18);
  --md-extended-color-system-green-dark-on-color: rgb(255 255 255);
  --md-extended-color-system-green-dark-color-container: rgb(77 119 68);
  --md-extended-color-system-green-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-mid2-color: rgb(15 63 22);
  --md-extended-color-system-green-mid2-on-color: rgb(255 255 255);
  --md-extended-color-system-green-mid2-color-container: rgb(72 120 72);
  --md-extended-color-system-green-mid2-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-mid-gray-color: rgb(11 63 23);
  --md-extended-color-system-green-mid-gray-on-color: rgb(255 255 255);
  --md-extended-color-system-green-mid-gray-color-container: rgb(70 120 74);
  --md-extended-color-system-green-mid-gray-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-light-strong-color: rgb(21 62 18);
  --md-extended-color-system-green-light-strong-on-color: rgb(255 255 255);
  --md-extended-color-system-green-light-strong-color-container: rgb(76 119 68);
  --md-extended-color-system-green-light-strong-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-light-gray-color: rgb(23 62 17);
  --md-extended-color-system-green-light-gray-on-color: rgb(255 255 255);
  --md-extended-color-system-green-light-gray-color-container: rgb(78 119 67);
  --md-extended-color-system-green-light-gray-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-dark2-color: rgb(13 63 23);
  --md-extended-color-system-green-dark2-on-color: rgb(255 255 255);
  --md-extended-color-system-green-dark2-color-container: rgb(71 120 73);
  --md-extended-color-system-green-dark2-on-color-container: rgb(255 255 255);
  --md-extended-color-system-green-light-gray2-color: rgb(14 63 22);
  --md-extended-color-system-green-light-gray2-on-color: rgb(255 255 255);
  --md-extended-color-system-green-light-gray2-color-container: rgb(72 120 73);
  --md-extended-color-system-green-light-gray2-on-color-container: rgb(255 255 255);
  --md-extended-color-onboarding-green-color: rgb(15 63 22);
  --md-extended-color-onboarding-green-on-color: rgb(255 255 255);
  --md-extended-color-onboarding-green-color-container: rgb(72 120 72);
  --md-extended-color-onboarding-green-on-color-container: rgb(255 255 255);
  --md-extended-color-onboarding-green-dark-color: rgb(19 63 19);
  --md-extended-color-onboarding-green-dark-on-color: rgb(255 255 255);
  --md-extended-color-onboarding-green-dark-color-container: rgb(75 120 70);
  --md-extended-color-onboarding-green-dark-on-color-container: rgb(255 255 255);
  --md-extended-color-onboarding-green-hovered-color: rgb(18 63 20);
  --md-extended-color-onboarding-green-hovered-on-color: rgb(255 255 255);
  --md-extended-color-onboarding-green-hovered-color-container: rgb(74 120 71);
  --md-extended-color-onboarding-green-hovered-on-color-container: rgb(255 255 255);
  --md-extended-color-onboarding-green-dark-hovered-color: rgb(19 63 19);
  --md-extended-color-onboarding-green-dark-hovered-on-color: rgb(255 255 255);
  --md-extended-color-onboarding-green-dark-hovered-color-container: rgb(75 120 70);
  --md-extended-color-onboarding-green-dark-hovered-on-color-container: rgb(255 255 255);
}
