.dark {
  --md-sys-color-primary: rgb(155 212 160);
  --md-sys-color-surface-tint: rgb(155 212 160);
  --md-sys-color-on-primary: rgb(0 57 21);
  --md-sys-color-primary-container: rgb(27 81 41);
  --md-sys-color-on-primary-container: rgb(182 241 187);
  --md-sys-color-secondary: rgb(157 212 158);
  --md-sys-color-on-secondary: rgb(2 57 19);
  --md-sys-color-secondary-container: rgb(30 81 39);
  --md-sys-color-on-secondary-container: rgb(184 241 185);
  --md-sys-color-tertiary: rgb(154 212 162);
  --md-sys-color-on-tertiary: rgb(0 57 23);
  --md-sys-color-tertiary-container: rgb(25 81 42);
  --md-sys-color-on-tertiary-container: rgb(181 241 189);
  --md-sys-color-error: rgb(255 179 178);
  --md-sys-color-on-error: rgb(86 29 32);
  --md-sys-color-error-container: rgb(115 51 53);
  --md-sys-color-on-error-container: rgb(255 218 217);
  --md-sys-color-background: rgb(16 21 16);
  --md-sys-color-on-background: rgb(224 228 220);
  --md-sys-color-surface: rgb(16 21 16);
  --md-sys-color-on-surface: rgb(224 228 220);
  --md-sys-color-surface-variant: rgb(65 73 65);
  --md-sys-color-on-surface-variant: rgb(193 201 190);
  --md-sys-color-outline: rgb(139 147 137);
  --md-sys-color-outline-variant: rgb(65 73 65);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(224 228 220);
  --md-sys-color-inverse-on-surface: rgb(45 50 44);
  --md-sys-color-inverse-primary: rgb(53 105 63);
  --md-sys-color-primary-fixed: rgb(182 241 187);
  --md-sys-color-on-primary-fixed: rgb(0 33 9);
  --md-sys-color-primary-fixed-dim: rgb(155 212 160);
  --md-sys-color-on-primary-fixed-variant: rgb(27 81 41);
  --md-sys-color-secondary-fixed: rgb(184 241 185);
  --md-sys-color-on-secondary-fixed: rgb(0 33 8);
  --md-sys-color-secondary-fixed-dim: rgb(157 212 158);
  --md-sys-color-on-secondary-fixed-variant: rgb(30 81 39);
  --md-sys-color-tertiary-fixed: rgb(181 241 189);
  --md-sys-color-on-tertiary-fixed: rgb(0 33 11);
  --md-sys-color-tertiary-fixed-dim: rgb(154 212 162);
  --md-sys-color-on-tertiary-fixed-variant: rgb(25 81 42);
  --md-sys-color-surface-dim: rgb(16 21 16);
  --md-sys-color-surface-bright: rgb(54 58 53);
  --md-sys-color-surface-container-lowest: rgb(11 15 11);
  --md-sys-color-surface-container-low: rgb(24 29 24);
  --md-sys-color-surface-container: rgb(28 33 28);
  --md-sys-color-surface-container-high: rgb(38 43 38);
  --md-sys-color-surface-container-highest: rgb(49 54 49);
  --md-extended-color-sharp-light-color: rgb(156 212 159);
  --md-extended-color-sharp-light-on-color: rgb(0 57 20);
  --md-extended-color-sharp-light-color-container: rgb(29 81 40);
  --md-extended-color-sharp-light-on-color-container: rgb(183 241 185);
  --md-extended-color-sharp-dark-color: rgb(156 212 159);
  --md-extended-color-sharp-dark-on-color: rgb(1 57 19);
  --md-extended-color-sharp-dark-color-container: rgb(29 81 40);
  --md-extended-color-sharp-dark-on-color-container: rgb(184 241 185);
  --md-extended-color-sharp-white-color: rgb(156 212 159);
  --md-extended-color-sharp-white-on-color: rgb(0 57 20);
  --md-extended-color-sharp-white-color-container: rgb(29 81 40);
  --md-extended-color-sharp-white-on-color-container: rgb(183 241 186);
  --md-extended-color-teritary-dark-color: rgb(157 212 157);
  --md-extended-color-teritary-dark-on-color: rgb(3 57 18);
  --md-extended-color-teritary-dark-color-container: rgb(31 80 39);
  --md-extended-color-teritary-dark-on-color-container: rgb(185 240 184);
  --md-extended-color-yellow-dark-color: rgb(226 196 109);
  --md-extended-color-yellow-dark-on-color: rgb(61 47 0);
  --md-extended-color-yellow-dark-color-container: rgb(87 69 0);
  --md-extended-color-yellow-dark-on-color-container: rgb(255 224 137);
  --md-extended-color-yellow-dark2-color: rgb(230 195 108);
  --md-extended-color-yellow-dark2-on-color: rgb(62 46 0);
  --md-extended-color-yellow-dark2-color-container: rgb(89 68 0);
  --md-extended-color-yellow-dark2-on-color-container: rgb(255 223 149);
  --md-extended-color-yellow-mid-color: rgb(236 192 108);
  --md-extended-color-yellow-mid-on-color: rgb(65 45 0);
  --md-extended-color-yellow-mid-color-container: rgb(93 66 0);
  --md-extended-color-yellow-mid-on-color-container: rgb(255 222 165);
  --md-extended-color-yellow-light-color: rgb(233 193 108);
  --md-extended-color-yellow-light-on-color: rgb(64 45 0);
  --md-extended-color-yellow-light-color-container: rgb(91 67 0);
  --md-extended-color-yellow-light-on-color-container: rgb(255 223 158);
  --md-extended-color-yellow-dark3-color: rgb(237 192 108);
  --md-extended-color-yellow-dark3-on-color: rgb(65 45 0);
  --md-extended-color-yellow-dark3-color-container: rgb(93 66 0);
  --md-extended-color-yellow-dark3-on-color-container: rgb(255 222 166);
  --md-extended-color-yellow-mid2-color: rgb(236 192 108);
  --md-extended-color-yellow-mid2-on-color: rgb(65 45 0);
  --md-extended-color-yellow-mid2-color-container: rgb(93 66 0);
  --md-extended-color-yellow-mid2-on-color-container: rgb(255 222 165);
  --md-extended-color-yellow-mid3-color: rgb(232 194 108);
  --md-extended-color-yellow-mid3-on-color: rgb(63 46 0);
  --md-extended-color-yellow-mid3-color-container: rgb(91 67 0);
  --md-extended-color-yellow-mid3-on-color-container: rgb(255 223 156);
  --md-extended-color-purple-dark-color: rgb(205 189 255);
  --md-extended-color-purple-dark-on-color: rgb(52 39 94);
  --md-extended-color-purple-dark-color-container: rgb(75 62 118);
  --md-extended-color-purple-dark-on-color-container: rgb(231 222 255);
  --md-extended-color-purple-dark2-color: rgb(208 188 254);
  --md-extended-color-purple-dark2-on-color: rgb(54 38 93);
  --md-extended-color-purple-dark2-color-container: rgb(77 61 117);
  --md-extended-color-purple-dark2-on-color-container: rgb(233 221 255);
  --md-extended-color-purple-dark3-color: rgb(215 186 251);
  --md-extended-color-purple-dark3-on-color: rgb(59 37 90);
  --md-extended-color-purple-dark3-color-container: rgb(83 60 115);
  --md-extended-color-purple-dark3-on-color-container: rgb(237 220 255);
  --md-extended-color-purple-light-color: rgb(208 188 254);
  --md-extended-color-purple-light-on-color: rgb(55 38 93);
  --md-extended-color-purple-light-color-container: rgb(77 61 117);
  --md-extended-color-purple-light-on-color-container: rgb(233 221 255);
  --md-extended-color-blue-dark-color: rgb(208 189 254);
  --md-extended-color-blue-dark-on-color: rgb(54 38 93);
  --md-extended-color-blue-dark-color-container: rgb(77 61 117);
  --md-extended-color-blue-dark-on-color-container: rgb(233 221 255);
  --md-extended-color-blue-dark2-color: rgb(207 189 254);
  --md-extended-color-blue-dark2-on-color: rgb(54 38 93);
  --md-extended-color-blue-dark2-color-container: rgb(77 61 117);
  --md-extended-color-blue-dark2-on-color-container: rgb(233 221 255);
  --md-extended-color-green-dark-color: rgb(162 211 152);
  --md-extended-color-green-dark-on-color: rgb(13 56 14);
  --md-extended-color-green-dark-color-container: rgb(37 80 34);
  --md-extended-color-green-dark-on-color-container: rgb(190 240 178);
  --md-extended-color-green-light-color: rgb(161 211 154);
  --md-extended-color-green-light-on-color: rgb(9 57 15);
  --md-extended-color-green-light-color-container: rgb(35 80 36);
  --md-extended-color-green-light-on-color-container: rgb(188 240 180);
  --md-extended-color-green-mid-color: rgb(164 211 150);
  --md-extended-color-green-mid-on-color: rgb(16 56 12);
  --md-extended-color-green-mid-color-container: rgb(40 80 33);
  --md-extended-color-green-mid-on-color-container: rgb(192 239 176);
  --md-extended-color-green-light2-color: rgb(163 211 151);
  --md-extended-color-green-light2-on-color: rgb(15 56 13);
  --md-extended-color-green-light2-color-container: rgb(39 80 34);
  --md-extended-color-green-light2-on-color-container: rgb(191 240 177);
  --md-extended-color-green-dark2-color: rgb(164 211 150);
  --md-extended-color-green-dark2-on-color: rgb(16 56 12);
  --md-extended-color-green-dark2-color-container: rgb(39 80 33);
  --md-extended-color-green-dark2-on-color-container: rgb(191 239 176);
  --md-extended-color-green-dark3-color: rgb(163 211 151);
  --md-extended-color-green-dark3-on-color: rgb(15 56 13);
  --md-extended-color-green-dark3-color-container: rgb(39 80 34);
  --md-extended-color-green-dark3-on-color-container: rgb(191 240 177);
  --md-extended-color-green-light3-color: rgb(162 211 153);
  --md-extended-color-green-light3-on-color: rgb(12 57 14);
  --md-extended-color-green-light3-color-container: rgb(37 80 35);
  --md-extended-color-green-light3-on-color-container: rgb(189 240 179);
  --md-extended-color-green-light2-hovered-color: rgb(162 211 152);
  --md-extended-color-green-light2-hovered-on-color: rgb(12 57 14);
  --md-extended-color-green-light2-hovered-color-container: rgb(37 80 35);
  --md-extended-color-green-light2-hovered-on-color-container: rgb(189 240 179);
  --md-extended-color-green-dark2-hovered-color: rgb(161 211 153);
  --md-extended-color-green-dark2-hovered-on-color: rgb(11 57 15);
  --md-extended-color-green-dark2-hovered-color-container: rgb(36 80 35);
  --md-extended-color-green-dark2-hovered-on-color-container: rgb(189 240 179);
  --md-extended-color-system-regular-color: rgb(156 212 159);
  --md-extended-color-system-regular-on-color: rgb(1 57 19);
  --md-extended-color-system-regular-color-container: rgb(29 81 40);
  --md-extended-color-system-regular-on-color-container: rgb(184 241 185);
  --md-extended-color-system-hovered-color: rgb(154 212 161);
  --md-extended-color-system-hovered-on-color: rgb(0 57 22);
  --md-extended-color-system-hovered-color-container: rgb(26 81 42);
  --md-extended-color-system-hovered-on-color-container: rgb(182 241 188);
  --md-extended-color-purple-light-hovered-color: rgb(208 188 254);
  --md-extended-color-purple-light-hovered-on-color: rgb(54 38 93);
  --md-extended-color-purple-light-hovered-color-container: rgb(77 61 117);
  --md-extended-color-purple-light-hovered-on-color-container: rgb(233 221 255);
  --md-extended-color-yellow-dark2-hovered-color: rgb(228 195 108);
  --md-extended-color-yellow-dark2-hovered-on-color: rgb(61 46 0);
  --md-extended-color-yellow-dark2-hovered-color-container: rgb(88 68 0);
  --md-extended-color-yellow-dark2-hovered-on-color-container: rgb(255 223 145);
  --md-extended-color-yellow-dark3-hovered-color: rgb(232 194 108);
  --md-extended-color-yellow-dark3-hovered-on-color: rgb(63 46 0);
  --md-extended-color-yellow-dark3-hovered-color-container: rgb(91 67 0);
  --md-extended-color-yellow-dark3-hovered-on-color-container: rgb(255 223 155);
  --md-extended-color-teal-dark-color: rgb(128 212 214);
  --md-extended-color-teal-dark-on-color: rgb(0 55 56);
  --md-extended-color-teal-dark-color-container: rgb(0 79 81);
  --md-extended-color-teal-dark-on-color-container: rgb(156 241 243);
  --md-extended-color-teal-dark-hovered-color: rgb(128 212 217);
  --md-extended-color-teal-dark-hovered-on-color: rgb(0 55 57);
  --md-extended-color-teal-dark-hovered-color-container: rgb(0 79 83);
  --md-extended-color-teal-dark-hovered-on-color-container: rgb(156 240 245);
  --md-extended-color-teal-mid-color: rgb(128 212 215);
  --md-extended-color-teal-mid-on-color: rgb(0 55 56);
  --md-extended-color-teal-mid-color-container: rgb(0 79 82);
  --md-extended-color-teal-mid-on-color-container: rgb(156 241 244);
  --md-extended-color-teal-light-color: rgb(129 212 221);
  --md-extended-color-teal-light-on-color: rgb(0 54 59);
  --md-extended-color-teal-light-color-container: rgb(0 79 85);
  --md-extended-color-teal-light-on-color-container: rgb(157 240 249);
  --md-extended-color-teal-light-variant-color: rgb(129 211 221);
  --md-extended-color-teal-light-variant-on-color: rgb(0 54 59);
  --md-extended-color-teal-light-variant-color-container: rgb(0 79 86);
  --md-extended-color-teal-light-variant-on-color-container: rgb(157 240 250);
  --md-extended-color-teal-light2-color: rgb(128 213 212);
  --md-extended-color-teal-light2-on-color: rgb(0 55 55);
  --md-extended-color-teal-light2-color-container: rgb(0 79 80);
  --md-extended-color-teal-light2-on-color-container: rgb(156 241 241);
  --md-extended-color-teal-light-strong-color: rgb(129 211 221);
  --md-extended-color-teal-light-strong-on-color: rgb(0 54 59);
  --md-extended-color-teal-light-strong-color-container: rgb(0 79 85);
  --md-extended-color-teal-light-strong-on-color-container: rgb(157 240 249);
  --md-extended-color-teal-dark2-color: rgb(128 213 212);
  --md-extended-color-teal-dark2-on-color: rgb(0 55 55);
  --md-extended-color-teal-dark2-color-container: rgb(0 79 80);
  --md-extended-color-teal-dark2-on-color-container: rgb(156 241 240);
  --md-extended-color-system-dark-grey-color: rgb(153 212 162);
  --md-extended-color-system-dark-grey-on-color: rgb(0 57 23);
  --md-extended-color-system-dark-grey-color-container: rgb(25 81 42);
  --md-extended-color-system-dark-grey-on-color-container: rgb(181 241 189);
  --md-extended-color-system-light-gray-color: rgb(155 212 161);
  --md-extended-color-system-light-gray-on-color: rgb(0 57 22);
  --md-extended-color-system-light-gray-color-container: rgb(27 81 41);
  --md-extended-color-system-light-gray-on-color-container: rgb(182 241 187);
  --md-extended-color-system-green-mid-color: rgb(158 212 157);
  --md-extended-color-system-green-mid-on-color: rgb(4 57 18);
  --md-extended-color-system-green-mid-color-container: rgb(32 80 38);
  --md-extended-color-system-green-mid-on-color-container: rgb(185 240 183);
  --md-extended-color-system-green-dark-color: rgb(164 211 150);
  --md-extended-color-system-green-dark-on-color: rgb(16 56 12);
  --md-extended-color-system-green-dark-color-container: rgb(39 80 33);
  --md-extended-color-system-green-dark-on-color-container: rgb(191 239 176);
  --md-extended-color-system-green-mid2-color: rgb(160 212 155);
  --md-extended-color-system-green-mid2-on-color: rgb(7 57 16);
  --md-extended-color-system-green-mid2-color-container: rgb(34 80 37);
  --md-extended-color-system-green-mid2-on-color-container: rgb(187 240 181);
  --md-extended-color-system-green-mid-gray-color: rgb(158 212 157);
  --md-extended-color-system-green-mid-gray-on-color: rgb(3 57 18);
  --md-extended-color-system-green-mid-gray-color-container: rgb(31 80 39);
  --md-extended-color-system-green-mid-gray-on-color-container: rgb(185 240 184);
  --md-extended-color-system-green-light-strong-color: rgb(163 211 151);
  --md-extended-color-system-green-light-strong-on-color: rgb(15 56 13);
  --md-extended-color-system-green-light-strong-color-container: rgb(39 80 34);
  --md-extended-color-system-green-light-strong-on-color-container: rgb(191 240 177);
  --md-extended-color-system-green-light-gray-color: rgb(165 211 149);
  --md-extended-color-system-green-light-gray-on-color: rgb(17 56 11);
  --md-extended-color-system-green-light-gray-color-container: rgb(40 80 32);
  --md-extended-color-system-green-light-gray-on-color-container: rgb(192 239 176);
  --md-extended-color-system-green-dark2-color: rgb(158 212 156);
  --md-extended-color-system-green-dark2-on-color: rgb(5 57 17);
  --md-extended-color-system-green-dark2-color-container: rgb(32 80 38);
  --md-extended-color-system-green-dark2-on-color-container: rgb(186 240 183);
  --md-extended-color-system-green-light-gray2-color: rgb(159 212 156);
  --md-extended-color-system-green-light-gray2-on-color: rgb(6 57 17);
  --md-extended-color-system-green-light-gray2-color-container: rgb(33 80 37);
  --md-extended-color-system-green-light-gray2-on-color-container: rgb(186 240 182);
  --md-extended-color-onboarding-green-color: rgb(160 212 155);
  --md-extended-color-onboarding-green-on-color: rgb(7 57 16);
  --md-extended-color-onboarding-green-color-container: rgb(34 80 37);
  --md-extended-color-onboarding-green-on-color-container: rgb(187 240 182);
  --md-extended-color-onboarding-green-dark-color: rgb(162 211 152);
  --md-extended-color-onboarding-green-dark-on-color: rgb(12 56 14);
  --md-extended-color-onboarding-green-dark-color-container: rgb(37 80 35);
  --md-extended-color-onboarding-green-dark-on-color-container: rgb(189 240 179);
  --md-extended-color-onboarding-green-hovered-color: rgb(161 211 154);
  --md-extended-color-onboarding-green-hovered-on-color: rgb(10 57 15);
  --md-extended-color-onboarding-green-hovered-color-container: rgb(36 80 36);
  --md-extended-color-onboarding-green-hovered-on-color-container: rgb(188 240 180);
  --md-extended-color-onboarding-green-dark-hovered-color: rgb(162 211 152);
  --md-extended-color-onboarding-green-dark-hovered-on-color: rgb(12 57 14);
  --md-extended-color-onboarding-green-dark-hovered-color-container: rgb(37 80 35);
  --md-extended-color-onboarding-green-dark-hovered-on-color-container: rgb(189 240 179);
}
